body{
    background-position: center center;
    background-attachment: fixed;
    background-image:url("images/red-car-min.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-color: #fff;
}

/* Header/Blog Title */
.header {
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-size: 50px;
}

a:link, a:visited {
    background-color: #535050;
    font-size: 18px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: #D3CD4A;
}

.coursehead
{
    font-size: 20px;
}

.hhh
{
    text-align: center;
    border-style: solid;

}

/*.table*/
/*{*/
    /*background-color: #EEEBEB*/
/*}*/

/*.table .hover*/
/*{*/
    /*background-color: white;*/
/*}*/
/*.container*/
/*{*/
    /*background-color:#FBF9F9;*/
/*}*/

/*.container-fluid*/
/*{*/
    /*background-color:#FBF9F9;*/
/*}*/